.head.themeDefault {
    --basis-select-background-color: #fff;
    --basis-select-hover-background-color: #f2f2f2;
    --component-color-background: #fff;
    --component-color-text: #000;
    --component-color-text-light: #b3b3b3;
    --focus: 0 0 0 3px #006fb9;

}

.head {
    background-color: var(--component-color-background);
    color: var(--component-color-text);
    //display: grid;
    //gap: var(--grid-row-gap) var(--grid-column-gap);
    //grid-template-columns: calc((100% - var(--grid-size))/2) repeat(11,minmax(8px,calc(var(--grid-size)/11))) calc((100% - var(--grid-size))/2);
    position: relative;
    -webkit-transition: background-color var(--transition-duration) linear,color var(--transition-duration) linear,min-height var(--transition-duration) linear,-webkit-transform var(--transition-duration) linear;
    transition: background-color var(--transition-duration) linear,color var(--transition-duration) linear,min-height var(--transition-duration) linear,-webkit-transform var(--transition-duration) linear;
    transition: background-color var(--transition-duration) linear,color var(--transition-duration) linear,transform var(--transition-duration) linear,min-height var(--transition-duration) linear;
    transition: background-color var(--transition-duration) linear,color var(--transition-duration) linear,transform var(--transition-duration) linear,min-height var(--transition-duration) linear,-webkit-transform var(--transition-duration) linear;
    
    z-index: 2;
}

[is=basis-header] {
    left: 0;
    min-height: 0;
    padding: calc(var(--baseline)*1) 0;
    position: fixed;
    top: 0;
    -webkit-transition-duration: var(--transition-duration);
    transition-duration: var(--transition-duration);
    -webkit-transition-property: background-color,-webkit-transform;
    transition-property: background-color,-webkit-transform;
    transition-property: transform,background-color;
    transition-property: transform,background-color,-webkit-transform;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    width: 100%;
    z-index: 10;
    transition: top 0.2s ease 0s;

}


.wrapper {
    @media (min-width: 768px) {
        column-gap: calc(var(--baseline)*3);
    }

    @media (max-width: 1279px) {
        column-gap: calc(var(--baseline)*4);
        grid-template-columns: 1fr 1fr 1fr;

    }
    
    @media (min-width: 1280px) {
        column-gap: calc(var(--baseline)*4);
        grid-template-columns: calc((100% - var(--grid-size))/2) 2fr 7fr 2fr calc((100% - var(--grid-size))/2);
    }

    margin: auto;
    max-width: 2000px;
    display: grid;
    row-gap: 0px;
    justify-content: center;
    align-items: center;
}

.logo {
    @media (max-width: 1279px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        margin-left: calc(var(--baseline)*4);
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: flex-start;
    }
    
    @media (min-width: 1280px) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
    }

    


    
}

.logo-link {
    color: currentColor;
    margin: calc(var(--baseline)*2) 0;
}

.logo-icon svg {
    height: calc(var(--baseline)*5);
    width: auto;
}

.menu {
    @media (min-width: 1280px) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
    }

    @media (max-width: 1279px) {

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: var(--component-color-background);
        height: calc(100% - var(--header-height));
        left: 0;
        opacity: 1;
        overflow-y: auto;
        pointer-events: all;
        position: fixed;
        top: var(--header-height);
        -webkit-transition: opacity calc(var(--transition-duration)*1.25) cubic-bezier(0,0,.23,1) calc(var(--transition-duration)*.25);
        transition: opacity calc(var(--transition-duration)*1.25) cubic-bezier(0,0,.23,1) calc(var(--transition-duration)*.25);
        width: 100%;
        z-index: -1;
    }
}



.menu [role=menubar] {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 1279px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

@media (max-width: 1279px) {
    .menu-inner {
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: flex-start;
        padding: calc(var(--baseline)*8) 0;
    }
    
    .menu-item {
        opacity: 0;
        -webkit-transform: translateY(calc(var(--baseline)*2.5));
        transform: translateY(calc(var(--baseline)*2.5));
        -webkit-transition: opacity calc(var(--transition-duration)*.75) cubic-bezier(0,0,.23,1),-webkit-transform calc(var(--transition-duration)*2) cubic-bezier(0,0,.23,1);
        transition: opacity calc(var(--transition-duration)*.75) cubic-bezier(0,0,.23,1),-webkit-transform calc(var(--transition-duration)*2) cubic-bezier(0,0,.23,1);
        transition: opacity calc(var(--transition-duration)*.75) cubic-bezier(0,0,.23,1),transform calc(var(--transition-duration)*2) cubic-bezier(0,0,.23,1);
        transition: opacity calc(var(--transition-duration)*.75) cubic-bezier(0,0,.23,1),transform calc(var(--transition-duration)*2) cubic-bezier(0,0,.23,1),-webkit-transform calc(var(--transition-duration)*2) cubic-bezier(0,0,.23,1);
        width: 100%;
    }

    .menu-item.show {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .inert {
        opacity: 0;
        pointer-events: none;
        -webkit-transition: opacity calc(var(--transition-duration)*1.25) cubic-bezier(0,0,.23,1) calc(var(--transition-duration)*.75);
        transition: opacity calc(var(--transition-duration)*1.25) cubic-bezier(0,0,.23,1) calc(var(--transition-duration)*.75);
    }
}   

.menu [role=menubar] li {
    background: 0;
    margin: 0;
    padding: 0;
}

.menu-item-link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: calc(var(--baseline)*2 + 2px);
    justify-content: center;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0;
    padding: calc(var(--baseline)*2) calc(var(--baseline)*3);
    text-decoration: none;
    text-transform: uppercase;

    @media (min-width: 1280px) {
        display: block;
        font-size: calc(var(--baseline)*2 - 2px);
        padding-left: calc(var(--baseline)*2.5);
        padding-right: calc(var(--baseline)*2.5);
    }

    @media (min-width: 1280px) {
        text-align: center;
    }
}

.menu-item-link-text {
    position: relative;
    color: #000;
    display: inline;
    padding-bottom: calc(var(--baseline)*.5);
    text-decoration: none;


    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        border-radius: 4px;
        background-color: #18272F;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .2s ease-in-out;
    }

    &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
}

.buttons {
    @media (min-width: 1280px) {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;

    @media (max-width: 1279px) {
        display: none;
    }
}




.submenu {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: max-height var(--transition-duration) cubic-bezier(.08,.82,.17,1),opacity var(--transition-duration) ease-in,-webkit-transform var(--transition-duration) ease-in;
    transition: max-height var(--transition-duration) cubic-bezier(.08,.82,.17,1),opacity var(--transition-duration) ease-in,-webkit-transform var(--transition-duration) ease-in;
    transition: max-height var(--transition-duration) cubic-bezier(.08,.82,.17,1),opacity var(--transition-duration) ease-in,transform var(--transition-duration) ease-in;
    transition: max-height var(--transition-duration) cubic-bezier(.08,.82,.17,1),opacity var(--transition-duration) ease-in,transform var(--transition-duration) ease-in,-webkit-transform var(--transition-duration) ease-in;
    z-index: -1;

    @media (min-width: 1280px) {
        left: 0;
        max-height: calc(100vh - var(--header-height))!important;
        position: absolute;
        right: 0;
        top: var(--header-height);
        width: 100%;
    }
}

.submenu[aria-hidden=false] {
    max-height: 1500px;
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: max-height var(--transition-duration) cubic-bezier(.6,.04,.98,.34),opacity var(--transition-duration) ease-in,-webkit-transform var(--transition-duration) ease-in;
    transition: max-height var(--transition-duration) cubic-bezier(.6,.04,.98,.34),opacity var(--transition-duration) ease-in,-webkit-transform var(--transition-duration) ease-in;
    transition: max-height var(--transition-duration) cubic-bezier(.6,.04,.98,.34),opacity var(--transition-duration) ease-in,transform var(--transition-duration) ease-in;
    transition: max-height var(--transition-duration) cubic-bezier(.6,.04,.98,.34),opacity var(--transition-duration) ease-in,transform var(--transition-duration) ease-in,-webkit-transform var(--transition-duration) ease-in;
    z-index: 1;
}

.mega {
    padding: calc(var(--baseline)*4) 0;
    text-align: center;
    -webkit-transition-duration: var(--transition-duration);
    transition-duration: var(--transition-duration);
    -webkit-transition-property: background-color,-webkit-transform;
    transition-property: background-color,-webkit-transform;
    transition-property: transform,background-color;
    transition-property: transform,background-color,-webkit-transform;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;

    @media (min-width: 1280px) {
        background-color: var(--component-color-background);
        display: grid;
        gap: var(--grid-row-gap) var(--grid-column-gap);
        grid-template-columns: calc((100% - var(--grid-size))/2) repeat(12,minmax(8px,calc(var(--grid-size)/12))) calc((100% - var(--grid-size))/2);
        padding: calc(var(--baseline)*6) 0;
        text-align: left;
    }
}

.mega-text {
    display: none;

    @media (min-width: 1280px) {
        display: block;
        grid-column-end: 6;
        grid-column-start: 3;
        grid-row-end: auto;
        grid-row-start: auto;
    }
}

.mega-cols {
    @media (min-width: 1280px) {
        grid-column-end: 13;
        grid-column-start: 7;
        grid-row-end: auto;
        grid-row-start: auto;
    }
}

.mega-label {
    padding: 0;

    
}

.mega-col:not(:last-of-type) {
    margin-bottom: calc(var(--baseline)*4);
}

.kicker {
    color: var(--component-color-text);
    display: block;
    font-size: calc(var(--baseline)*2*.875);
    letter-spacing: calc(var(--baseline)*.5);
    margin-bottom: calc(var(--baseline)*3);
    text-transform: uppercase;

    @media (max-width: 1279px) {
        margin-bottom: calc(var(--baseline)*1);
    }
}


.mega-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: 1280px) {
        display: grid;
        gap: var(--grid-column-gap);
        grid-template-columns: repeat(2,1fr);
        row-gap: calc(var(--baseline)*2);
    }
}

.mega-link {
    display: inline-block;
    text-decoration: none;

    @media (max-width: 1279px) {
        padding: calc(var(--baseline)*1) calc(var(--baseline)*2);
    }
}

.mega-link-text {
    position: relative;
    color: #000;
    display: inline;
    padding-bottom: calc(var(--baseline)*.5);
    text-decoration: none;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        border-radius: 4px;
        background-color: #18272F;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .2s ease-in-out;
    }

    &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
    
}

@media (min-width: 1280px) {
    .col-first {
        margin-bottom: calc(var(--baseline)*6);
    }
}

.mittlerer-text {
    margin-top: 0;
    padding-top: 0;
    font-size: 22px;
    line-height: 1.728;

    @media (min-width: 1280px) {
        font-size: 24px;
        line-height: 1.625;
    }
}

.kicker-divider {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    white-space: nowrap;
    width: 1px;
}


.burger {
    margin-right: calc(var(--baseline)*4);
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-area: burger;
    justify-content: flex-end;

    @media (min-width: 1280px) {
        display: none;
    }

    @media (max-width: 1279px) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

}

.burger-trigger {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: -webkit-gradient(linear,right top,left top,from(var(--component-color-text)),to(var(--component-color-text)));
    background-image: linear-gradient(to left,var(--component-color-text),var(--component-color-text));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0;
    color: var(--component-color-text);
    cursor: pointer;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    -webkit-transition: background-size var(--transition-duration) cubic-bezier(0,0,.23,1);
    transition: background-size var(--transition-duration) cubic-bezier(0,0,.23,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    text-align: inherit;

    position: relative;

    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(var(--baseline)*6);
    justify-content: center;
    width: calc(var(--baseline)*6);

    span {
        background-color: currentColor;
        display: block;
        height: 2px;
        left: 20%;
        margin-top: -1px;
        position: absolute;
        top: 50%;
        -webkit-transition: all var(--transition-duration) cubic-bezier(0,0,.23,1);
        transition: all var(--transition-duration) cubic-bezier(0,0,.23,1);
        width: 68%;
    }

}


















